{#
/**
 * AvaTax Tax Adjuster plugin for Craft Commerce
 *
 * AvataxTaxAdjuster-Settings.twig
 *
 * @author    Rob Knecht
 * @author    Mike Kroll
 * @copyright Copyright (c) 2017 Surprise Highway
 * @link      https://github.com/surprisehighway
 * @package   AvataxTaxAdjuster
 * @since     0.0.1
 */
#}
{% extends "avataxtaxadjuster/settings/_layout" %}

{% set selectedTab = 'settings' %}

{% set fullPageForm = true %}

{% import '_includes/forms' as forms %}

{% macro configWarning(setting) -%}
    {{ "This is being overridden by the {setting} config setting in your avataxtaxadjuster.php config file."|t({
        setting: setting
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% block content %}

    <input type="hidden" name="action" value="plugins/savePluginSettings">
    <input type="hidden" name="pluginClass" value="avataxTaxAdjuster">

    {% namespace 'settings' %}

    <h2>AvaTax Environment</h2>

    {{ forms.selectField({
        label:        '',
        instructions: 'Select your AvaTax environment.',
        id:           'environment',
        name:         'environment',
        required:     true,
        value:        settings.environment,
        warning:      (craft.config.get('environment', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('environment'),
        'options': {
            'production' : 'Production',
            'sandbox' : 'Sandbox'
            }
        })
    }}

    <input id="test-connection-btn" type="button" class="btn" value="{{ 'Test Connection' | t }}">
    <div id="test-connection-spinner" class="spinner hidden"></div>

    <hr>

    <h2>Production Account</h2>

    {{ forms.textField({
        label:        'Account ID',
        instructions: 'Enter your Avalara account ID here. It will be a ten-digit number (e.g. 1100012345).',
        id:           'accountId',
        name:         'accountId',
        value:        settings['accountId'],
        required:     true,
        warning:      (craft.config.get('accountId', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('accountId'),
        errors:       settings.getErrors('accountId')
        })
    }}

    {{ forms.textField({
        label:        'License Key',
        instructions: 'Enter your license key here. It will be a 16-character string (e.g. 1A2B3C4D5E6F7G8H).',
        id:           'licenseKey',
        name:         'licenseKey',
        value:        settings.licenseKey,
        required:     true,
        warning:      (craft.config.get('licenseKey', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('licenseKey'),
        errors:       settings.getErrors('licenseKey')
        })
    }}

    {{ forms.textField({
        label:        'Company Code',
        instructions: 'Enter your [company code](https://help.avalara.com/004_AvaTax_Integrations/002_All_About_Company_Codes) here.',
        id:           'companyCode',
        name:         'companyCode',
        value:        settings['companyCode'],
        warning:      (craft.config.get('companyCode', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('companyCode'),
        errors:       settings.getErrors('companyCode')
        })
    }}

    <hr>

    <h2>Sandbox Account</h2>

    {{ forms.textField({
        label:        'Account ID',
        instructions: 'Enter your Avalara account ID here.',
        id:           'sandboxAccountId',
        name:         'sandboxAccountId',
        value:        settings['sandboxAccountId'],
        warning:      (craft.config.get('sandboxAccountId', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('sandboxAccountId'),
        errors:       settings.getErrors('sandboxAccountId')
        })
    }}

    {{ forms.textField({
        label:        'License Key',
        instructions: 'Enter your license key here.',
        id:           'sandboxLicenseKey',
        name:         'sandboxLicenseKey',
        value:        settings.sandboxLicenseKey,
        warning:      (craft.config.get('sandboxLicenseKey', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('sandboxLicenseKey'),
        errors:       settings.getErrors('sandboxLicenseKey')
        })
    }}

    {{ forms.textField({
        label:        'Company Code',
        instructions: 'Enter your company code here.',
        id:           'sandboxCompanyCode',
        name:         'sandboxCompanyCode',
        value: settings['sandboxCompanyCode'],
        warning:      (craft.config.get('sandboxCompanyCode', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('sandboxCompanyCode'),
        errors:       settings.getErrors('sandboxCompanyCode')
        })
    }}

    <hr>

    <h2>Origin Ship From Address</h2>

    {{ forms.textField({
        label:        'Name',
        instructions: '',
        id:           'shipFromName',
        name:         'shipFromName',
        value:        settings.shipFromName,
        required:     true,
        disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
        errors:       settings.getErrors('name')
        })
    }}

    {{ forms.textField({
        label:        'Street 1',
        instructions: '',
        id:           'street1',
        name:         'street1',
        value:        settings.shipFromStreet1,
        required:     true,
        disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
        errors:       settings.getErrors('street1')
        })
    }}

    {{ forms.textField({
        label:        'Street 2',
        instructions: '',
        id:           'street2',
        name:         'street2',
        value:        settings.shipFromStreet2,
        disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
        errors:       settings.getErrors('street2')
        })
    }}

    {{ forms.textField({
        label:        'Street 3',
        instructions: '',
        id:           'street3',
        name:         'street3',
        value:        settings.shipFromStreet3,
        disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
        errors:       settings.getErrors('street3')
        })
    }}

    <div class="grid" data-cols="2" data-mode="pct">
        <div class="item" data-colspan="1">
            {{ forms.textField({
                label: 'City',
                instructions: '',
                id:           'city',
                name:         'city',
                value:        settings.shipFromCity,
                required:     true,
                disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
                errors:       settings.getErrors('city')
                })
            }}
        </div>
        <div class="item" data-colspan="1">
            {{ forms.textField({
                label:        'State',
                instructions: '',
                id:           'state',
                name:         'state',
                value:        settings.shipFromState,
                required:     true,
                disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
                errors:       settings.getErrors('state')
                })
            }} 
        </div>
    </div>

    <div class="grid" data-cols="2" data-mode="pct">
        <div class="item" data-colspan="1">
            {{ forms.textField({
                label:        'Country',
                instructions: '',
                id:           'country',
                name:         'country',
                value:        settings.shipFromCountry,
                required:     true,
                disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
                errors:       settings.getErrors('country')
                })
            }}
        </div>
        <div class="item" data-colspan="1">
            {{ forms.textField({
                label:        'Zip Code',
                instructions: '',
                id:           'zipCode',
                name:         'zipCode',
                value:        settings.shipFromZipCode,
                required:     true,
                disabled:     (craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)),
                errors:       settings.getErrors('zipCode')
                })
            }}          
        </div>
    </div>

    {% if(craft.config.get('shipFrom', 'avataxtaxadjuster') is not sameas(null)) %}
        <div class="field">
            <p class="warning">Origin Ship From Address is being overridden by the shipFrom config setting in your avataxtaxadjuster.php config file.</p>
        </div>
    {% endif %}

    <hr>

    <h2>Default Tax Codes</h2>

    {{ forms.textField({
        label:        'Default Tax Code',
        instructions: 'The default [Avalara Tax Code](https://taxcode.avatax.avalara.com/) to use for products.',
        id:           'defaultTaxCode',
        name:         'defaultTaxCode',
        value:        settings.defaultTaxCode,
        required:     true,
        disabled:     (craft.config.get('defaultTaxCode', 'avataxtaxadjuster') is not sameas(null)),
        warning:      (craft.config.get('defaultTaxCode', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('defaultTaxCode'),
        errors:       settings.getErrors('defaultTaxCode')
        })
    }}

    {{ forms.textField({
        label:        'Default Shipping Code',
        instructions: 'The default [Avalara Tax Code](https://taxcode.avatax.avalara.com/) to use for shipping.',
        id:           'defaultShippingCode',
        name:         'defaultShippingCode',
        value:        settings.defaultShippingCode,
        required:     true,
        disabled:     (craft.config.get('defaultShippingCode', 'avataxtaxadjuster') is not sameas(null)),
        warning:      (craft.config.get('defaultShippingCode', 'avataxtaxadjuster') is not sameas(null)) ? configWarning('defaultShippingCode'),
        errors:       settings.getErrors('defaultShippingCode')
        })
    }}

    <hr>

    <h2>AvaTax Options</h2>
    
    <div class="field">
        <div class="heading">
            <label for="settings-enableTaxCalculation">Tax Calculation Enabled</label>
            <div class="instructions">
                <p class="light">Disable this setting to disable tax calculations.</p>
            </div>
        </div>

        {{ forms.lightswitch({
            id:       'enableTaxCalculation',
            name:     'enableTaxCalculation',
            on:       settings.enableTaxCalculation,
            disabled: (craft.config.get('enableTaxCalculation', 'avataxtaxadjuster') is not sameas(null)),
            errors:   settings.getErrors('enableTaxCalculation')
            })
        }}

        {% if (craft.config.get('enableTaxCalculation', 'avataxtaxadjuster') is not sameas(null)) %}
            <p class="warning">{{ configWarning('enableTaxCalculation') }}</p>
        {% endif %}
    </div>

    <div class="field">
        <div class="heading">
            <label for="settings-enableCommitting">Comitting Enabled</label>
            <div class="instructions">
                <p class="light">Disable this setting to disable document committing.<br>Read-only Tax calculations will still be performed if enabled, but no transactions will be committed.</p>
            </div>
        </div>

        {{ forms.lightswitch({
            id:       'enableCommitting',
            name:     'enableCommitting',
            on:       settings.enableCommitting,
            disabled: (craft.config.get('enableCommitting', 'avataxtaxadjuster') is not sameas(null)),
            errors:   settings.getErrors('enableCommitting')
            })
        }}

        {% if (craft.config.get('enableCommitting', 'avataxtaxadjuster') is not sameas(null)) %}
            <p class="warning">{{ configWarning('enableCommitting') }}</p>
        {% endif %}
    </div>

    <div class="field">
        <div class="heading">
            <label for="settings-enableTaxCalculation">Address Validation Enabled</label>
            <div class="instructions">
                <p class="light">Disable this setting to disable AvaTax address validation.</p>
            </div>
        </div>

        {{ forms.lightswitch({
            id:       'enableAddressValidation',
            name:     'enableAddressValidation',
            on:       settings.enableAddressValidation,
            disabled: (craft.config.get('enableAddressValidation', 'avataxtaxadjuster') is not sameas(null)),
            errors:  settings.getErrors('enableAddressValidation')
            })
        }}
        
        {% if (craft.config.get('enableAddressValidation', 'avataxtaxadjuster') is not sameas(null)) %}
            <p class="warning">{{ configWarning('enableAddressValidation') }}</p>
        {% endif %}
    </div>

    <hr>

    <h2>Debugging</h2>

    <div class="field">
        <div class="heading">
            <label for="settings-debug">Debugging Enabled</label>
            <div class="instructions">
                <p class="light">By default only errors are logged. Enable full debugging to log all interaction with the AvaTax API.<br>This should only be enabled during development or when troubleshooting a problem.</p>
            </div>
        </div>

        {{ forms.lightswitch({
            id:       'debug',
            name:     'debug',
            on:       settings.debug,
            disabled: (craft.config.get('debug', 'avataxtaxadjuster') is not sameas(null)),
            errors:   settings.getErrors('debug')
            })
        }}

        {% if (craft.config.get('debug', 'avataxtaxadjuster') is not sameas(null)) %}
            <p class="warning">{{ configWarning('debug') }}</p>
        {% endif %}
    </div>

    {% endnamespace %}

{% endblock %}